<%= form_tag posts_path, method: :get do %>
	<%= text_field_tag :search, params[:search], size: 40 %>
 	<%= submit_tag "Search", title:nil  %>
<% end %>


<div id= "posts">
	<% @posts.each do |post| %>
	<div class= "post">
	<h2 class="title"> <%= link_to post.title, post %> </h2>
	<p> <%= post.content %> </p> 
	<p class= "date"> Published At : <%= time_ago_in_words(post.created_at) %> ago by <b> <%= post.user.email %> </b> </p> 
	</div>
<% end %>
</div>
